rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isGuest(uid) {
      return uid == 'guest-user';
    }

    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return (isAuthenticated() && request.auth.uid == userId) || isGuest(userId);
    }
    
    function isDocOwner() {
      return (isAuthenticated() && request.auth.uid == resource.data.uid) || isGuest(resource.data.uid);
    }
    
    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "hudsonwalter91@gmail.com" && request.auth.token.email_verified == true ||
         (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'));
    }

    // ===============================================================
    // Rules
    // ===============================================================

    match /users/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }

    match /accounts/{accountId} {
      allow read, delete: if isDocOwner() || isAdmin();
      allow create: if (isAuthenticated() || isGuest(request.resource.data.uid));
      allow update: if isDocOwner();
    }

    match /categories/{categoryId} {
      allow read, delete: if isDocOwner() || isAdmin();
      allow create: if (isAuthenticated() || isGuest(request.resource.data.uid));
      allow update: if isDocOwner();
    }

    match /transactions/{transactionId} {
      allow read, delete: if isDocOwner() || isAdmin();
      allow create: if (isAuthenticated() || isGuest(request.resource.data.uid));
      allow update: if isDocOwner();
    }

    match /goals/{goalId} {
      allow read, delete: if isDocOwner() || isAdmin();
      allow create: if (isAuthenticated() || isGuest(request.resource.data.uid));
      allow update: if isDocOwner();
    }
  }
}
